 <html>
        <head>
            <title>Mariya's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Маня учится</a></h1>
            </div>

            <div>
                <p>published: 19.01.2017, 00:35</p>
                <h2><a href="">Урок 1</a></h2>
                <p>HTML - муть</p>
            </div>

            <div>
                <p>published: 20.01.2017, 12:14</p>
                <h2><a href="">Урок 2</a></h2>
                <p>Крыша едет</p>
            </div>
        </body>
    </html>